/* resuse css */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav_color {
  background-color: #1e1139;
}
.body_color {
  background-color: #260f31;
  color: #ffffff;
}
.All_btn {
  border: 2px solid rgb(29, 105, 247);
  color: rgb(29, 105, 247);
  padding: 10px 25px;
  border-radius: 100px;
  margin-bottom: 10px;
  background: transparent;
}
.All_btn:hover {
  background-color: rgb(29, 105, 247);
  color: white;
}
a {
  color: #0bceaf;
  text-decoration: none;
  background-color: transparent;
}
/* resuse css */
#top-nav {
  background-color: #1e1139;

  padding: 0 8%;
}
#logo-img {
  width: 90px !important;
  height: 62px !important;
  border-radius: 28px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 23px;
  padding-left: 34px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #0bceaf;
}
/*banner*/
#banner {
  background-color: #260f31;
  padding-bottom: 171px;
}
.name_section {
  font-size: 2rem;
  margin-top: 150px;
  color: #ffffff;
}
.purple {
  color: rgb(170, 107, 228);
}
#bannerimg img {
  height: 400px;

  margin-top: 30px;
  width: 400px;
}

#my_img {
  animation: img 6s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;
}

@keyframes img {
  0% {
    border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% /50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;
  }
}

/*footer*/
#footer {
  background-color: #1e1139;
  padding-top: 9%;
  padding-bottom: 5%;
}

/*====================== Back to buttom ==================*/

.back-to-top {
  position: fixed;
  border: 2px solid rgb(29, 105, 247);
  width: 56px;
  height: 44px;
  text-align: center;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  color: rgb(29, 105, 247);
  border-radius: 35px;
}
.back-to-top:hover {
  background-color: rgb(29, 105, 247);
  color: #ffffff;
}
/* updated skills section */

.bg {
  background-color: #1e1139;

  border-radius: 20px 20px;
}
